<!-- Second Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container mx-auto">
        <a class="navbar-brand" href="#">{{ exp.clean_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbar2Collapse" aria-controls="navbar2Collapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar2Collapse">
            <ul class="navbar-nav ml-4">
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#">Funnel</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#">Statistics</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>