{% extends "base.html" %}
{% from "macros/plots/barprot_total.html" import barprot_total %}
{% from "macros/plots/donut.html" import donut %}

{% block title %}Details{% endblock %}

{% block second_nav %}
{% include "ab/_second_nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-fluid my-0">
        <div class="container">
        {% if exp %}
            {% if current_user.is_admin %}
            <h2>{{ exp.clean_name }} | {{ exp.app.name }} | <a href="{{ url_for('admin.edit_experiment', exp_name=exp.name) }}">Edit</a></h2>
            {% else %}
            <h2>{{ exp.clean_name }} | {{ exp.app.name }}</h2>
            {% endif %}
            <p class="lead">{{ exp.description }}</p>
        {% endif %}
        </div>
    </div>
    <!-- ARPU and Conversion -->
    <p class="lead mt-3 mb-1">Convertion and ARPU dynamics by period from started the experiment</p>
    <div class="row">
        <div class="col-6">
            <p class="text-center bg-light p-1">Conversion [%] by period</p>
            <canvas id="conversion_total"></canvas>
            <figcaption class="figure-caption text-center">Conversion, %</figcaption>
        </div>
        <div class="col-6">
            <p class="text-center bg-light p-1">ARPU [rub] by period</p>
            <canvas id="arpu_total"></canvas>
            <figcaption class="figure-caption text-center">ARPU, rub</figcaption>
        </div>
    </div>
</div>
{% endblock %}

{% block plotsjs %}
{{
    barprot_total(
        figure_id="arpu_total",
        valueset=exp.get_valueset_total(col_name="arpu"),
        options=exp.sorted_options,
        percentage=False
    )
}}
{{
    barprot_total(
        figure_id="conversion_total",
        valueset=exp.get_valueset_total(col_name="conversion"),
        options=exp.sorted_options,
        percentage=True
    )
}}
{% endblock %}